[*]
ij_javascript_force_semicolon_style = true
ij_typescript_force_semicolon_style = true

[*.js]
indent_size = 4
indent_style = space
ij_continuation_indent_size = 8

[*.ts]
indent_size = 2
indent_style = space
ij_continuation_indent_size = 4
ij_typescript_blank_lines_around_method = 0
ij_typescript_blank_lines_around_method_in_interface = 0
ij_typescript_blank_lines_around_class = 0
