html {
    color: white;
    margin: 1em;
    color-scheme: dark !important;
    font-family: "Liberation Sans", "Open Sans", "Arial", "Verdana", "Helvetica", "sans-serif";
}

body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.inputs > div {
    display: flex;
    flex-direction: row;
    gap: 0.42em;
    justify-content: center;
}

#input {
    width: 100%;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

@media screen and (max-width: 1150px) {
    body {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    body {
        width: unset;
    }
}
